.header{
    font-family: Quicksand;
    overflow: hidden;
    height: 111px;
    left: 0px;
    top: 0px;
    background: #448A99;
}
.header-logo{
    font-size: 90px;
    color: #FFFFFF;
    margin-left: 10px;
    text-decoration: none;
}
.header-item{
    justify-content: center;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 30px;
    float:right;
    font-style: normal;
    font-weight: bold;    
    position: relative;
    border:none;
    margin-right:30px;
    text-decoration: none;
    top:44px;
    text-transform: uppercase;
}