.mlogin{
    font-family: Quicksand;
    background: rgba(68, 138, 153, 0.25);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    height:430px;
    width:500px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top:70px;
    padding:30px;
}
.mlheader{
    color:#448A99;
    width: 400px;
    height: 30px;
    padding:30px;
    font-size: 36px;
}
.username{
    color:#448A99;
    font-weight: bold;
    font-size: 24px;
    width: 400px;
    padding:35px;
}
.enteruname>input{
    width: 410px;
    margin-top:5px;
    padding:10px;
    color: rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    border-radius: 15px;
    border:none;
    margin-left:35px;
    margin-bottom:10px;
}
::placeholder{
    font-family: Quicksand;
    font-weight: bold;
    font-size: 15px;
    padding:10px;
}
.pswrd{
    color:#448A99;
    font-weight: bold;
    font-size: 24px;
    width: 400px;
    padding:35px;
    
}
.enterpwd>input{
    width: 410px;
    margin-top:5px;
    padding:10px;
    color: rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    border-radius: 15px;
    border:none;
    margin-left:35px;
}
.forgot{
    font-family: Quicksand;
    font-weight: 600;
    padding:2px 35px;
    text-decoration-line: underline;
    color: #448A99;
    width:100%;
}
.usr{
    font-family: Quicksand;
    font-weight: 600;
    padding:35px;
    text-decoration-line: underline;
    color: #448A99;
    width:100%;
    margin-left:30px;
}
.loginbtn{
    background: #448A99;
    color: #FFFFFF;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    width: 430px;
    margin:10px 35px;
    padding:6px;
    border:none;
}
.loginbtn:hover{
    cursor: pointer;
}
.signupbtn{     
    background-color:white;
    box-sizing: border-box;
    border: 3.5px solid #1BA94C;    
    box-shadow: #1BA94C;
    color:#1BA94C;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    width: 430px;
    margin:5px 35px;
    padding:5px;
}
.signupbtn:hover{
    cursor:pointer;
}